.layout-topbar-white {
    --topbar-bg: #ffffff;
    --topbar-start-bg: #ffffff;
    --topbar-menu-button-bg: var(--primary-color);
    --topbar-menu-button-hover-bg: var(--p-primary-600);
    --topbar-menu-button-text-color: var(--primary-color-text);
    --topbar-item-text-color: var(--p-surface-500);
    --topbar-item-hover-bg: var(--p-surface-200);
}
